html, body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

form{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

form input[type='submit']{
    width: 10rem;
    height: 2.5rem;

    position: fixed;
    right: 20vw;
    bottom: 5vh;
}

.professor-info .info input, label{
    display: block;
}