@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html, body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

form{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

form input[type='submit']{
    width: 16rem;
    height: 2.9rem;

    font-size: 1.4rem;
    font-weight: 600;

    position: fixed;
    right: 8vw;
    bottom: 5vh;

    background-color: #27699f;
    border: none;
    color: white;
    border-radius: 2rem;

    cursor: pointer;
}

.professor-info{
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: #27699f;
}

.professor-info h1{
    text-align: center;
    margin: 10% auto;
    font-weight: 100;
    font-family: sans-serif;
}

.professor-info .info, .info input{
    width: 90%;
}

.professor-info .info{
    margin-bottom: 4%;
}

.professor-info .info input{
    background-color: inherit;
    border: 1px solid white;
    border-radius: 8px;

    padding: .5rem;

    font-size: 1.2rem;
    color: white;
}

.professor-info .info label{
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

.professor-info .info input:focus{
    outline: none;
}

.professor-info .info input, label{
    display: block;
}

.equipamentos{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipamentos li{
    list-style-type: none;
}

.equipamentos h1{
    color: #27699f;
    font-family: sans-serif;
    font-weight: 600;

    margin: 5% auto;
    margin-bottom: 4%;
}

.equipamentos .listagem{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.equipamentos .listagem li:first-child{
    font-size: 1.8rem;
    font-weight: 600;
    
    margin-bottom: 2rem;
}

.equipamentos .listagem li{
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;
    margin-bottom: 1rem;
}
