<!DOCTYPE html>
<html>

<head>
    <title>Comprovante</title>
    <link rel="stylesheet" href="proof.css">
</head>

<body>
    <h2>Comprovante de Agendamento de Equipamentos</h2>

    <table>
        <tr>
            <th>Equipamentos</th>
            <th>Quantidade</th>
        </tr>
        <tr>
            <td>Notebook</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Projetor</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Câmera fotográfica</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Tripé de câmera</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Fonte caixa de som</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Microfone</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Caneta/lousa interativa</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Controle de TV</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Controle do projetor</td>
            <td>0</td>
        </tr>
    </table>

    <button>Imprimir comprovante</button>

</body>

</html>