@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html, body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
}

table {
    width: 40vw;
    height: 60vh;
    border-collapse: collapse;

    font-size: 1.5rem;
    font-weight: 400;
}

table .title{
    text-align: center;
}

table .qtd{
    text-align: center;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
