{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Comprovante</title>
    <link rel="stylesheet" href="{% static 'proof.css' %}">
</head>

<body>
    <header>
        <h1>Comprovante de Agendamento de Equipamentos</h1>
    </header>

    <section class="info">
        <p><strong>Professor:</strong> {{ agendamento.prof_instrutor }}</p>
        <p><strong>Sala:</strong> {{ agendamento.sala }}</p>
        <p><strong>Turno:</strong> {{ agendamento.turno }}</p>
        <p><strong>Data:</strong> {{ agendamento.data }}</p>
    </section>

    <table>
        <thead>
            <tr>
                <th class="title">Equipamento</th>
                <th class="title">Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Notebook</td>
                <td class="qtd">{{ equipamentos.notebook }}</td>
            </tr>
            <tr>
                <td>Projetor</td>
                <td class="qtd">{{ equipamentos.projetor }}</td>
            </tr>
            <tr>
                <td>Câmera Fotográfica</td>
                <td class="qtd">{{ equipamentos.camera_fotografica }}</td>
            </tr>
            <tr>
                <td>Tripé de Câmera</td>
                <td class="qtd">{{ equipamentos.tripe_camera }}</td>
            </tr>
            <tr>
                <td>Fonte Caixa de Som</td>
                <td class="qtd">{{ equipamentos.font_caix_som }}</td>
            </tr>
            <tr>
                <td>Microfone</td>
                <td class="qtd">{{ equipamentos.microfone }}</td>
            </tr>
            <tr>
                <td>Caneta/Lousa Interativa</td>
                <td class="qtd">{{ equipamentos.caneta_lousa_interativa }}</td>
            </tr>
            <tr>
                <td>Controle de TV</td>
                <td class="qtd">{{ equipamentos.controle_tv }}</td>
            </tr>
            <tr>
                <td>Controle do Projetor</td>
                <td class="qtd">{{ equipamentos.controle_projetor }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
