{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Comprovante</title>
    <link rel="stylesheet" href="{% static  '/proof.css' %}">
</head>                          

<body>
    <h1>Comprovante de Agendamento de Equipamentos</h1>

    <table>
        <tr>
            <th class="title">Equipamentos</th>
            <th class="title">Quantidade</th>
        </tr>
        <tr>
            <td>Notebook</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Projetor</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Câmera fotográfica</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Tripé de câmera</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Fonte caixa de som</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Microfone</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Caneta/lousa interativa</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Controle de TV</td>
            <td class="qtd">0</td>
        </tr>
        <tr>
            <td>Controle do projetor</td>
            <td class="qtd">0</td>
        </tr>
    </table>

    <button>Imprimir comprovante</button>

</body>

</html>